.navbar{
    position: fixed;
    width: 100%;
    top: 0;
    height: 20px;
    background-color: #333;
    padding: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:20px;

}
.logo{
    position: fixed;
    left: 20px;
    width: 40px;
    top: 10px;
}

.avatar{
    position: fixed;
    right: 20px;
    width: 40px;
    top: 10px;
}